* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  color: #cad3f5;
  background-color: transparent;
}

window {
  background-color: #24273a;
  border: 2px solid #f4dbd6;
  border-radius: 10px;
  padding: 15px;
}

#input {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  background-color: #1e2030;
  color: #cad3f5;
}

#entry {
  padding: 8px;
  border-radius: 6px;
}

#entry:selected {
  background-color: #8aadf4;
  color: #1e2030;
}

